.page-footer {
  background-color: var(--primary-bg-color);
  padding-top: 60px;
  padding-bottom: 60px;

  & .logo {
    display: block;
    text-align: center;
    margin-bottom: 20px;

    @media screen and (min-width: 1200px) {
      text-align: left;
    }

    color: var(--white-text-color);
  }

  & .container {
    @media screen and (min-width: 1200px) {
      display: flex;
      align-items: baseline;
    }
  }

  &__title {
    margin-bottom: 20px;
    text-align: center;
    @media screen and (min-width: 1200px) {
    text-align: left;
    }
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--white-text-color);
  }

  &__addresses {
    margin-bottom: 60px;
    @media screen and (min-width: 1200px) {
      min-width: 231px;
      margin-right: 70px;
      margin-bottom: 0;
    }
  }

  &__social {
    margin-bottom: 60px;
    @media screen and (min-width: 1200px) {
      margin-right: 93px;
      margin-bottom: 0;
    }
    & .social {
      margin-left: auto;
      margin-right: auto;
    }
  }


  &__subscribe {
  }
}

.footer-addr__link {
  text-align: center;
  @media screen and (min-width: 1200px) {
    text-align: left;
  }
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;

  transition: color var(--default-transition-delay) var(--default-transition-timing);

  &:hover,
  &:focus {
    color: var(--accent-text-color);
  }

  &--real {
    color: var(--white-text-color);
  }

  &--email,
  &--phone {
    margin-top: 9px;
    color: rgba(255, 255, 255, 0.6);
  }
}
