.team-section {
  background-color: var(--button-primary-bg-color);
}
.team {
  @media screen and (min-width: 1200px) {
    display: flex;
    flex-wrap: wrap;
    margin-top: -30px;
    margin-left: -30px;
  }

  &__item {
    padding-bottom: 24px; 
    margin-bottom: 30px;

    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
      0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
    background-color: var(--white-text-color);


    @media screen and (min-width: 1200px) {
      flex-basis: calc((100% - 4 * 30px) / 4);
      padding-bottom: 30px; 

      margin-top: 30px;
      margin-left: 30px;
      margin-bottom: 0;
    }
  }
  &__photo {
    width: 100%;

    @media screen and (min-width: 1200px) {
      width: 270px;
      height: 260px;
    }
  }
  &__person {
    margin-top: 30px;

    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--primary-text-color);
  }
  &__position {
    margin-top: 10px;

    font-size: 16px;
    line-height: 1.19;
    text-align: center;
    letter-spacing: 0.03em;
  }
  & .social {
    margin-left: auto;
    margin-right: auto;
    margin-top: 16px;
  }
}
