.filter {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 40px;

  @media screen and (min-width: 768px) {
    justify-content: center;
    margin-bottom: 30px;
    flex-wrap: nowrap;

  }

  @media screen and (min-width: 1200px) {
    margin-bottom: 50px;
    
  }

  &__item:not(:last-child) {
    margin-right: 8px;
  }

  &__button {
    height: 38px;
    border: none;
    border-radius: 4px;
    padding: 6px 22px;

    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--primary-text-color);
    background-color: var(--button-primary-bg-color);

    cursor: pointer;

    transition: background-color var(--default-transition-delay) var(--default-transition-timing),
      color var(--default-transition-delay) var(--default-transition-timing),
      border var(--default-transition-delay) var(--default-transition-timing);

    &:hover,
    &:focus {
      color: var(--white-text-color);
      background-color: var(--accent-text-color);
      box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
        0px 2px 2px rgba(0, 0, 0, 0.12);
    }
  }
}
