@media screen and (max-width: 767px) {
  .mobile-menu {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;

    position: fixed;
    top: 0;
    left: 0;
    overflow: auto;
    z-index: 100;
    width: 100vw;
    height: 100vh;
    background-color: var(--white-text-color);

    &__container {
      position: relative;
      padding: 48px 40px;
    }

    &__close-btn {
      position: absolute;
      top: 10px;
      right: 15px;
      width: 40px;
      height: 40px;
      border: none;
      background-color: transparent;
      padding: 0;

      line-height: 1;
    }

    &__mobile-nav {
      margin-bottom: 302px;
    }

    &__tel {
      display: block;
      margin-bottom: 32px;

      font-weight: 500;
      font-size: 34px;
      line-height: 1.17;
      letter-spacing: 0.02em;

      color: var(--accent-text-color);
    }

    &__mail {
      display: block;
      margin-bottom: 64px;

      font-weight: 500;
      font-size: 24px;
      line-height: 1.17;
      letter-spacing: 0.02em;

      color: var(--secondary-text-color);
    }

    &.is-open {
      opacity: 1;
      visibility: visible;
      pointer-events: auto;
    }
  }

  .mobile-nav {
    &__item:not(:last-child) {
      margin-bottom: 32px;
    }

    &__link {
      font-weight: 500;
      font-size: 40px;
      line-height: 1.18;
      letter-spacing: 0.02em;

      color: var(--primary-text-color);

      transition: color var(--default-transition-delay) var(--default-transition-timing);

      &:hover,
      &:focus {
        color: var(--accent-text-color);
      }
    }
  }
  .mobile-social {
    display: flex;

    &__item {
      &:not(:last-child) {
        margin-right: 10px;
        padding-right: 10px;
        border-right: 1px solid rgba(33, 33, 33, 0.2);
      }
    }
    &__link {
      font-weight: 500;
      font-size: 18px;
      line-height: 1.22;
      letter-spacing: 0.02em;

      color: var(--accent-text-color);
    }
  }
}
@media screen and (min-width: 768px) {
  .mobile-menu {
    display: none;
  }
}
