body {
  font-family: 'Roboto', sans-serif;
  color: var(--secondary-text-color);
}
h1,
h2,
h3,
p,
ul {
  margin-top: 0px;
  margin-bottom: 0px;
  padding-left: 0px;
}
img {
  display: block;
}

.list {
  list-style: none;
}

.link {
  display: block;
  
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
}