:root {
  --primary-text-color: #212121;
  --secondary-text-color: #757575;
  --accent-text-color: #2196f3;
  --white-text-color: #ffffff;
  --black-text-color: #000000;
  --button-primary-bg-color: #f5f4fa;
  --hero-button-hover-color: #188ce8;
  --primary-bg-color: #2f303a;
  --header-border-color: #ececec;
  --portfolio-border-color: #eeeeee;
  --default-svg-color: #afb1b8;
  --default-transition-delay: 250ms;
  --default-transition-timing: cubic-bezier(0.4, 0, 0.2, 1);
}